<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./vendor/inpsyde/monkery-test-case/inc/bootstrap.php"
        colors="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory prefix="" suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
